:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #c083f3;
}

.modo-escuro {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #4c0080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  padding-top: 70px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  height: 70px;
  background: var(--card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 5px 5px 10px rgba(145, 145, 145, 0.5);
}

.header-left a{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  width: 40px;
  height: 40px;
}

#themeToggle {
  cursor: pointer;
  padding: 8px 12px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 5%;
}

.card {
  background: var(--card-bg);
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(145, 145, 145, 0.5);
}

.card img {
  width: 100%;
  height: auto;
}

.card a {
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

.footer {
  margin-top: 40px;
  box-shadow: 5px -5px 10px rgba(145, 145, 145, 0.5);
}

.footer img{
    width: 100%;
    height: 400px;
}

.notice {
    max-width: 1100px;
    margin: auto;
}

.content {
    width: 100%;
    display: flex;
    padding: 50px;
    max-width: 100vw;
}
.notice-content {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.notice-content p {
    font-size: 20px;
    text-indent: 30px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
}
a {
    font-size: 14px;
}